@charset "utf-8";
article,
aside,
footer,
header,
main,
nav,
nav,
section {
    display: block;
}

html,
body,
h1,
h2,
h3,
ul,
li,
a,
p,
article,
aside,
footer,
header,
main,
nav,
nav,
section {
    padding: 0;
    margin: 0;
}

.banner {
    background-color: #11233b;
    color: white;
    padding: 10px 20px;
    text-align: center;
}