head,header,body{
    padding: 0px;
    margin: 0px;
    align-items: center;
}
p,img,input,section,h1{
    text-align: center;
}
#resultado{
    background-color: darkkhaki;
    font-weight: bolder;
    color: darkred;
    text-align: center;
    }
#h1title{
    color:dodgerblue;
    font-weight: bold;
    font-size: 48px;
}
nav{
    background-color: firebrick;
    text-align: center;
    height: 44;
    
}
nav ul li{
    display: inline;
    
   
}
nav ul li a{
    text-decoration: none;
}