head,
header,
body,
section,
article,
h1,
p {
    margin: 0px;
    padding: 0px;
    text-align: center;
}
body{
    background-image: url("../../img/hubble.jpg");

}
h1{
    color: yellow;
}
#resultadototal {
    display: inline;
    padding: 30px;
    color:deeppink;
}

#result {
    display: inline;
    padding: 5px;
}

.numero{
    display: inline;
    background-color: gainsboro;/* mediumseagreen;*/
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: red;
    margin-right: auto;
    
    
}
.num{
    display: inline;
    margin-left: 5px;
    text-align: center;
    padding-left: 2%;
    text-justify: auto;
    

}

#presul {
    color:deeppink;
    display: inline;
    padding-left: 8%;
    font-size: 22px;
}

#pcant {
    color:deeppink;
    display: inline;
    padding: 8%;
    font-size: 22px;
}

section {
    background-color: gainsboro;/*mediumseagreen;*/
    text-align: center;
    max-width: 1366px;
    width: 550px;
margin-left: auto;
margin-right: auto;
    border-radius: 15px;
}
.but{
    margin-bottom: 5px;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
}
.but:focus{
    background-color:  greenyellow;    
    color: red;
    
}
.but:hover{
    color: blue;  
}
/*stylos del menu del calendario/ practica 7*/

nav ul li a {
    color: white;
    padding: 10px;
    margin: 0;
    text-decoration: none;
    text-shadow: 1px 1px green;

}

nav ul li a:hover {
    color:yellow;  

    text-decoration: underline;
}

nav ul {
    color: crimson;
    padding: 0;
    margin: 0;
    padding-top: 1%;
    padding-bottom: 1%;
}

nav {
    padding: 0;
    margin-top: 0;
    max-width: 99.8%;
    height: 43px;
    padding-bottom: 3px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
nav ul li {
    display: inline;
    padding-left: 5px;
    margin: 0;
}


a:visited{
    color: mediumpurple;
}
nav ul li a {
    text-align: center;
}


/*fin stylos del menu del calendario/ practica 7*/