body{
background: url("https://images4.alphacoders.com/760/thumb-1920-76076.jpg");
background-color: crimson;
background-attachment: fixed;

}
nav ul li{
    display: inline;
    margin: 10px;
    font-size: 22px;

}
nav ul li:hover{
    font-weight: bold;
    
    background-color: chartreuse;

}
nav{
    background-color: aqua;
    height: 30px;
}
nav ul{
    text-align: center;
}

p{
    text-align: center;
}
#infcabecera{
    text-align: center;
    color: tomato;
    background-color:darkgreen;
}
