body{
background: url("https://images4.alphacoders.com/760/thumb-1920-76076.jpg");
background-color: crimson;
background-attachment: fixed;

}
nav ul li{
    display: inline;
    margin: 10px;
    font-size: 22px;

}
nav ul li:hover{
    font-weight: bold;
    color: brown;
    text-shadow: 1px 1px red;
    border-radius: 3px 3px;
    
    
}
nav{
    background-color: aqua;
    height: 30px;
    border-radius: 5px 5px;
}
nav ul{
    text-align: center;    
}
nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration:underline
}

p{
    text-align: center;
}
#infcabecera{
    text-align: center;
    color: red;
    background-color:rgb(220, 247, 71);
